$primary-background-colour: #26282b;
$primary-background-hover-colour: #18191b;
$secondary-background-colour: #c7c7c7;
$primary-opaque-background-colour: rgb(38, 40, 43, 0.9);
$primary-border-colour: rgba(50, 50, 50, 0.75);
$secondary-border-colour: rgba(50, 50, 50);
$primary-foreground-colour: #2bb9d0;
$primary-foreground-hover-colour: #27a1b4;