@import 'src/assets/scss/colours.scss';

.about-container {
    padding-top: 75px;

    .about-info-container {
        width: 33.3%;
    
        margin: 0 33.3%;

        p {
            color: #f0f0f0;

            font-size: 18px;
            
            line-height: 30px;
        }
    }
}

@media(max-width: 1024px) {
    .about-container {
        .about-info-container {
            width: 85%;

            margin: 0 7.5%;
        }
    }
}