<div class="container about-container">
    <div class="about-info-container">
        <h2>About Me</h2>
        <p>
            I'm a young developer living in Cork with a passion for development. Though my fortitude is web development I have a wide range of experience in mobile and .NET development. 
            I have also occasionally dabbled in the development of desktop apps in Electron, WPF and WinForms<br>
            Below you can find a list of all my projects finished and ongoing, please have a browse.
        </p>
    </div>
</div>
