.contact-container {
    width: 100%;
    height: fit-content;

    padding: 85px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    .contact-data-container {
        width: 235px;
        
        margin: 0 25px;

        display: flex;
        flex-direction: column;

        img {
            width: 100%;
        }

        a {
            text-align: center;
        }
    }
}