@import 'src/assets/scss/colours.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary-background-colour;

    font-family: Tahoma, Geneva, sans-serif;
}

.container {
    width: 100%;

    padding-top: 15px;

    h2 {
        width: 100%;

        color: $primary-foreground-colour;

        margin-bottom: 35px;

        font-size: 40px;

        text-align: center;
    }
}

.link-button {
    background-color: $primary-foreground-colour;
    color: #f0f0f0;

    padding: 15px 10px;

    font-size: 18px;

    text-decoration: none;

    &:hover {
        background-color: $primary-foreground-hover-colour;
    }

    img {
        width: 40px;
        height: 40px;

        margin: auto;
        margin-right: 15px;

        vertical-align: middle;

        display: inline-block;
    }
}